body {
	background-color: #FFC385;
}

.container {
	font-family: 'BioRhyme', 'Noto Sans SC', sans-serif, serif;
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: fit-content;
}

.row {
	font-family: 'BioRhyme', 'Noto Sans SC', sans-serif, serif;
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	/* border: 1px solid #c3c3c3; */
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
	margin-bottom: 40px;
}

.col-lg {
	margin: -50px 10px 10px 5px;
	height: auto;
}

.col-sm {
	margin: 5px 10px 10px 5px;
	height: auto;
}

h3 {
	text-align: center;
}

.contentText {
	font-family: 'BioRhyme', 'Noto Sans SC', sans-serif, serif;
	background-color: #9EE7FF;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	width: 650px;
	height: fit-content;
	margin-top: 100px;
	text-align: justify;
	text-justify: inter-word;
	padding: 5px 5px 5px 5px;
	border: 1px dotted transparent;
}

.contentText:hover {
	border: 1px dotted #3a7999;
}

.image1:hover .image {
	opacity: 0.3;
}

.image1:hover .middle {
	opacity: 1;
}

#jDog {
	font-size: 2em;
}

.jesse-card {
	background-color: transparent;
	width: 300px;
	height: 325px;
	perspective: 1000px;
	border-radius: 100%;
}

.jesse-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 100%;
}

.jesse-card:hover .jesse-card-inner {
	transform: rotateY(180deg);
	border-radius: 100%;
}

.jesse-card-front, .jesse-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 100%;
}

.jesse-card-front {
	background-color: #bbb;
	color: black;
	border-radius: 100%;
}

.jesse-card-back {
	padding-top: 120px;
	background-color: #2980b9;
	color: white;
	transform: rotateY(180deg);
	border-radius: 100%;
}

.jesse-card-back p {
	margin: -3px;
}

.imgMeetJesse {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	max-width: 300px;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	border-radius: 100%;
}

.imgMeetJesseR {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	max-width: 300px;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.imgMeetJesseL {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	max-width: 300px;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.imageR {
	position: relative;
}

.imageL {
	position: relative;
	margin-right: 0;
}

.imageLH {
	position: relative;
	margin-right: 0;
	margin-top: 130px;
}

.imageLH:hover .overlayL {
	width: 100%;
	left: 0;
}

.imageR:hover .overlayR {
	width: 100%;
}

.imageL:hover .overlayL {
	width: 100%;
	left: 0;
}

.overlayR {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.overlayL {
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.text {
	white-space: nowrap;
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#family {
	max-width: 800px;
	margin-top: 15px;
}

.familyText {
	padding: 5px 5px 5px 5px;
	margin-bottom: 15px;
	background-color: rgb(158, 231, 255);
	width: 1055px;
	height: fit-content;
	font-family: 'BioRhyme', 'Noto Sans SC', sans-serif, serif;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	border: 1px dotted transparent;
}

.familyText:hover {
	border: 1px dotted #3a7999;
}

.familyPhoto {
	width: 800px;
	height: auto;
	margin: auto;
	margin-left: 105px;
}

.familyPhoto:hover {
	transform: skew(-10deg);
	width: 800px;
	height: auto;
	margin: auto;
	margin-left: 105px;
}

hr {
	overflow: visible;
	height: 30px;
	border-style: solid;
	border-color: #00000042;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

hr:before {
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

.topyLink {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	margin: 0 auto;
}

.topyLink a {
	margin-left: 40%;
}